/*RESET*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;

    font-family: 'Lato', sans-serif;

    line-height: 1.2;
    letter-spacing: 0em;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    width: 100%;
    float: left;
    overflow-x: hidden;
}

blockquote {
    border-left: 4px solid #707070;
    color: #707070;
    font-size: 20px;
    font-style: italic;
    line-height: 1.8182;
    margin: 0 0 35px -21px;
    padding-left: 17px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

strong, b {
    font-weight: bold;
    margin-top: -5px
}

h1 {
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
}

p {
    margin-bottom: 15px;
    width: 100%;
    float: left
}

p:last-child {
    margin-bottom: 0;
}

mark {
    padding: 5px 10px;
    background: yellow
}

ul {
    list-style: none;
}

li {
    padding: 3px
}

img {
    float: left;
    border: none;
    width: 100%;
    max-width: 100%;
}

small {
    font-size: 0.7em;
    color: #555;
}

a {
    text-decoration: none;
    color: tomato
}

a img {
    border: 0;
}

label, span {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

table {
    border-spacing: 0;
}

iframe {
    width: 100% !important;
    float: left !important;
    height: 500px !important;
}

/*INPUTS*/
input, textArea {
    border: none;
    resize: none;
    border-bottom: solid 1px #BBB;
    width: 100%;
    padding: 5px;
    font-size: 1.1em;
    font-weight: 300;
    color: #666;
    background: transparent;
}

input:focus, textArea:focus {
    border-bottom: solid 1px cornflowerblue;
}

input[type="color"] {
    width: 29px;
    height: 29px;
    border: none;
    padding: 9px
}

label {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0 10px;
}

label span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 6px 5px 6px 5px;
    cursor: text;
    overflow: hidden;
}

input[type=checkbox] {
    position: relative;
    top: 0;
    margin: 0 1em 0 0;
    cursor: pointer;
    left: 0;
    width: 0;
}

input[type=checkbox]:before {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #888888;
}

input[type=checkbox]:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
}

input[type=checkbox]:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: transparent;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    iframe {
        height: 350px !important;
    }
}

@media screen and (max-width: 400px) {
    iframe {
        height: 200px !important;
    }
}